@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 25rem;
  height: 30rem;
}

input[type="color"] {
  padding: 0;
  width: 150%;
  height: 150%;
  margin: -25%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #161f33;
  border-radius: 20px;
}
